extends layout

block header
  header
    img.logo(src='/images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug

    .main-content
      h2 Admin - Manage Parking
      if errorMessage
        .error-message #{errorMessage}
      if successMessage
        .success-message #{successMessage}
      table
        thead
          tr
            th Parking Space ID
            th Status
            th Actions
        tbody
          each parkingSpace in parkingSpaces
            tr
              td #{parkingSpace.parking_space_id}
              td #{parkingSpace.status}
              td.actions
                form(action='/admin-manage-parking/toggle-block' method='post')
                  input(type='hidden' name='parking_space_id' value=parkingSpace.parking_space_id)
                  button(type='submit') #{parkingSpace.status === 'blocked' ? 'Release' : 'Block'}
                form(action='/admin-manage-parking/reserve' method='post')
                  input(type='hidden' name='parking_space_id' value=parkingSpace.parking_space_id)
                  button(type='submit') #{parkingSpace.status === 'reserved' ? 'Unreserve' : 'Reserve'}
                form(action='/admin-manage-parking/remove' method='post')
                  input(type='hidden' name='parking_space_id' value=parkingSpace.parking_space_id)
                  button(type='submit') Remove
      form(action='/admin-manage-parking/add' method='post')
        input(type='text' name='parking_space_id' placeholder='New Parking Space ID')
        input(type='text' name='latitude' placeholder='Latitude')
        input(type='text' name='longitude' placeholder='Longitude')
        input(type='text' name='carpark_id' placeholder='Carpark ID')
        button(type='submit') Add

