extends layout

block header
  header
    img.logo(src='/images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug

    .main-content
      h2 Admin - Parking Requests
      if bookingRequests.length
        table
          thead
            tr
              th Booking ID
              th Parking ID
              th Username
              th Start Time
              th Finish Time
              th Action
          tbody
            each request in bookingRequests
              tr
                td #{request.booking_id}
                td #{request.parking_space_id}
                td #{request.booking_username}
                td #{request.start}
                td #{request.finish}
                td 
                  form(action="/admin-parking-requests/approve" method="post")
                    input(type="hidden" name="bookingID" value=request.booking_id)
                    button(type="submit") Approve
                  form(action="/admin-parking-requests/deny" method="post")
                    input(type="hidden" name="bookingID" value=request.booking_id)
                    button(type="submit") Deny
      else
        p No booking requests available.
