extends layout

block header
  header
    img.logo(src='images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug
    .main-content
      table
        thead
          tr
            th Booking ID
            th Parking Space
            th Start
            th Finish
            th Deposit
        tbody
          each booking in bookings
            tr
              td= booking.booking_id
              td= booking.parking_space_id
              td= booking.start
              td= booking.finish
              td= booking.deposit
