extends layout

block header
  header
    img.logo(src='/images/Designer.png' alt='Company Logo')
    .company-name CarpPark - Home
    if loggedIn
      .account-balance #{user.username} Balance: £#{user.balance * 0.01}

block content
  .container
    include includes/nav.pug
    .main-content

      if !bookingSelected
        h2 Choose the booking that you wish to park for:
        form(action='/park/select-booking' method='POST')

          label(for='bookingID') Booking ID:
          input#bookingID(type='number' name='bookingID' placeholder='Booking ID')

          input(type='submit' value='Select Booking')
        if errorMsg
          p Error: #{errorMsg}

      else
        h2 Directions
        p #{targetCarpark}, parking space: #{targetParkingSpace}
        p #{targetLatitude}, #{targetLongitude}
        div(width='100%')
          iframe(width='60%' height='450px' frameborder='0' scrolling='no' marginheight='0' marginwidth='auto' src='https://maps.google.com/maps?q='+targetLatitude+','+targetLongitude+'&t=&z=17&ie=UTF8&iwloc=&output=embed')

        h2 Take your booked spot:
        p You must be within 5 metres of your assigned spot.
        form(action='/park/park' method='POST')

          input(type='hidden' name='targetParkingSpace' value=''+targetParkingSpace)
          input(type='hidden' name='targetCarpark' value=''+targetCarpark)
          input(type='hidden' name='targetLatitude' value=''+targetLatitude)
          input(type='hidden' name='targetLongitude' value=''+targetLongitude)

          label(for='currentLatitude') Your current position
          label(for='currentLatitude') Latitude:
          input#currentLatitude(type='text' name='currentLatitude' placeholder='Latitude')
          label(for='currentLongitude') Longitude:
          input#currentLongitude(type='text' name='currentLongitude' placeholder='Longitude')

          input(type='submit' value='Occupy Parking spot')
        if parkSuccessMsg
          p #{parkSuccessMsg}
        else if errorMsg
          p #{errorMsg}
        


      
      
